.pro-btns{ padding:10px; background:#FFFCF5;}
		.pro-btns:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
		.pro-btns .input-box{margin-bottom:5px;padding-bottom:1px;font:12px/1.5 arial}
			.pro-btns .input-box .txt{padding:0 2px;border:1px solid #F5DA98;height:24px; line-height:24px;width:60px;}
		.pro-btns .btn-box{ padding:2px 0; position:relative; }
			.pro-btns .btn-box .add,.pro-btns .btn-box .buy,.pro-btns .btn-box .add-over,.pro-btns .btn-box .buy-over{background:url(../images/car_btn_buy.png) no-repeat; display:block; float:left; height:37px; text-indent:-9999px;}
			.pro-btns .btn-box .add{background-position:0 0;width:127px;}
			.pro-btns .btn-box .add-over{background-position:0 -58px; width:127px;}
			.pro-btns .btn-box .buy{background-position:0 -116px;margin-left:15px;width:127px;}
			.pro-btns .btn-box .buy-over{background-position:0 -174px;margin-left:16px;width:127px;}

            /*提示样式*/
.msg_tips{margin:30px auto;position:relative;width:380px;}
	.msg_tips .ico{display:block;float:left;background:url(../images/icon_tips.png) no-repeat left top;width:46px;height:46px; text-indent:-99999px;overflow:hidden;}
	.msg_tips .ico.error{background-position:-50px 0;}
	.msg_tips .ico.warning{background-position:-100px 0;}
	.msg_tips .msg{margin-left:60px;}
	.msg_tips .msg strong{margin-bottom:10px;font-size:14px;color:#444;}
	.msg_tips .msg p{line-height:1.8em;}

    .cart_info{z-index:2;margin:0;padding:15px;border:1px solid #DFC795;position:absolute;top:0px;left:0px;_left:-269px;width:302px;height:auto;background:#F7F2D0;text-align:left;}
	.cart_info .close{display:block;margin:0;padding:0;position:absolute;top:5px;right:5px;width:15px;height:10px;text-indent:-9999px;background:url(../images/sprite.gif) no-repeat left -240px;cursor:pointer;}

.ltable{ width:100%; border:1px solid #e1e1e1; font-family:"Microsoft YaHei"; font-size:12px; }
	.ltable th{ padding:8px 0; color:#333; font-size:12px; font-weight:500; background:#f3f3f3; border-bottom:1px solid #E1E1E1; line-height:1.5em; }
	.ltable td{ padding:8px 0; border-bottom:1px solid #e8e8e8; line-height:1.5em; color:#666; }
	.ltable td .sort{ display:inline-block; padding:0 3px; border:1px solid #d7d7d7; width:40px; height:20px; line-height:18px; color:#666; font-size:12px; background:#fff; vertical-align:middle; }
	.ltable td .btn-tools{ display:inline-block; height:22px;  vertical-align:middle; }
		.ltable td .btn-tools a{ display:block; float:left; margin:0; padding:0; width:20px; height:20px; border:1px solid #e8e8e8; border-left:none; text-indent:-9999em; background:url(skin_icons.png) no-repeat #fff; overflow:hidden; }
		.ltable td .btn-tools a:first-child{ border-left:1px solid #e8e8e8; }
		.ltable td .btn-tools a.msg{ background-position:3px -81px; }
		.ltable td .btn-tools a.msg.selected{ background-position:3px -109px; }
		.ltable td .btn-tools a.top{ background-position:-25px -81px; }
		.ltable td .btn-tools a.top.selected{ background-position:-25px -109px; }
		.ltable td .btn-tools a.red{ background-position:-53px -81px; }
		.ltable td .btn-tools a.red.selected{ background-position:-53px -109px; }
		.ltable td .btn-tools a.hot{ background-position:-81px -81px; }
		.ltable td .btn-tools a.hot.selected{ background-position:-81px -109px; }
		.ltable td .btn-tools a.pic{ background-position:-109px -81px; }
		.ltable td .btn-tools a.pic.selected{ background-position:-109px -109px; }
		.ltable td .folder-open{ display:inline-block; margin-right:2px; width:20px; height:20px; background:url(skin_icons.png) -40px -196px no-repeat; vertical-align:middle; text-indent:-999em; *text-indent:0; }
		.ltable td .folder-line{display:inline-block; margin-right:2px; width:20px; height:20px; background:url(skin_icons.png) -80px -196px no-repeat; vertical-align:middle; text-indent:-999em; *text-indent:0; }
	.ltable tr:hover{ background:#F2F7FB; }
	.ltable .odd_bg{ background:#fafafa; }
	.ltable td .user-avatar{ display:block; width:64px; height:64px; background:url(skin_icons.png) 3px -498px no-repeat #fff;}
	.ltable td .user-box{ padding-left:10px; }
		.ltable td .user-box h4{ margin:0; padding:0; display:block; font-weight:normal; font-size:12px; height:16px; line-height:14px;}
		.ltable td .user-box h4 b{ color:#06F;}
		.ltable td .user-box i{ display:block; color:#999; font-style:normal; line-height:24px; height:24px; }
		.ltable td .user-box span{ display:block; padding:2px 0 0 0; height:14px; }
		.ltable td .user-box span a{ display:block; float:left; margin-right:5px; width:20px; height:20px; background:url(skin_icons.png) no-repeat #fff; border:1px solid #E1E1E1; text-indent:-999em;}
		.ltable td .user-box span a.amount{ background-position:-331px -109px;}
		.ltable td .user-box span a.point{ background-position:-221px -109px; }
		.ltable td .user-box span a.msg{ background-position:-305px -109px;}
		.ltable td .user-box span a.sms{ background-position:-443px -110px;}
		
	.ltable td.comment{ padding:10px; line-height:1em; }
		.ltable td.comment .title{ margin-bottom:5px; line-height:180%; font-weight:bold; }
		.ltable td.comment .title .note{ float:right; font-weight:normal; }
		.ltable td.comment .title .note i{ margin-left:10px; font-style:normal; font-family:'Microsoft YaHei'; color:#999; }
		.ltable td.comment .title .note i.reply{ padding-left:18px; }
		.ltable td.comment .ask{ line-height:180%; font-family:'Microsoft YaHei'; }
		.ltable td.comment .ask .audit{ margin-right:3px; display:inline-block; vertical-align:middle; width:14px; height:14px; background:url(skin_icons.png) -362px -112px  no-repeat; }
		.ltable td.comment .ask .answer{ margin-top:10px; padding:6px 10px; border:1px solid #f6e8b9; background:#fbf8e7; color:#666; }
		.ltable td.comment .ask .answer b{ color:#090; }
		.ltable td.comment .ask .answer .time{ display:block; float:right; color:#999; }


/*按钮样式*/
.btn{border-radius:2px 2px 2px 2px;color:#FFF;display:inline-block;font-size:12px;height:30px;line-height:30px;min-width:48px;padding:0 25px;text-align:center;font-family:"Microsoft Yahei";}
.btn{background-color:#1E7BB3;background-image:-moz-linear-gradient(center top , #3999D2, #1E7BB3);border-bottom:1px solid #02598E;box-shadow:0 1px 2px #BBBBBB;text-shadow:0 -1px 0 #1E7BB3;}
.btn:hover{color:#FFF;opacity:0.9;}
.btn-mini{height:20px;line-height:20px;padding:1px 8px 0;}
input.btn, button.btn{border-left:0 none;border-right:0 none;border-top:0 none;cursor:pointer;}
.btn-success{background-color:#52A152;background-image:-moz-linear-gradient(center top , #5FBE5F, #52A152);border-bottom:1px solid #417F41;text-shadow:0 -1px 0 #52A152;}
.btn-error{background-color:#CB423B;background-image:-moz-linear-gradient(center top , #E85A56, #CB423B);border-bottom:1px solid #AA352F;text-shadow:0 -1px 0 #CB423B;}
.btn-gray{background-color:#DDDDDD;background-image:-moz-linear-gradient(center top , #EEEEEE, #DDDDDD);border-bottom:1px solid #A9A9A9;text-shadow:0 -1px 0 #EEEEEE;}
.btn-gray, .btn-gray:hover{color:#777777;}


/*css flickr style pagination*/
div.flickr{ padding:0px;margin:0px; text-align:center; font-family:Verdana; font-size:12px;text-align:right;}
div.flickr a{ border-right: #dedfde 1px solid; padding-right: 6px; background-position: 50% bottom; border-top: #dedfde 1px solid; padding-left: 6px; padding-bottom: 2px; border-left: #dedfde 1px solid; color: #0061de; margin-right: 3px; padding-top: 2px; border-bottom: #dedfde 1px solid; text-decoration: none; }
div.flickr a:hover{ border-right: #000 1px solid; border-top: #000 1px solid; background-image: none; border-left: #000 1px solid; color: #fff; border-bottom: #000 1px solid; background-color: #0061de; }
div.flickr a:active{ border-right: #000 1px solid; border-top: #000 1px solid; background-image: none; border-left: #000 1px solid; color: #fff; border-bottom: #000 1px solid; background-color: #0061de; }
div.flickr span{ padding-right: 6px; padding-left: 6px; padding-bottom: 2px; color: #999; margin-right: 3px; padding-top: 2px; }
div.flickr span.current{ padding-right: 6px; padding-left: 6px; font-weight: bold; padding-bottom: 2px; color: #ff0084; margin-right: 3px; padding-top: 2px; }
div.flickr span.disabled{ padding-right: 6px; padding-left: 6px; padding-bottom: 2px; color: #adaaad; margin-right: 3px; padding-top: 2px; }
