    <div class="sidebar">
      <h3>" + Resources.lang.Transaction+ "</h3>
      <ul>
        <li><a href="<%linkurl("userorder","list")%>">" + Resources.lang.torder + "</a></li>
        <li><a href="<%linkurl("userorder","close")%>">" + Resources.lang.closeorder + "</a></li>
      </ul>
      <h3>" + Resources.lang.AccountM+ "</h3>
      <ul>
        <li><a href="<%linkurl("useramount","recharge")%>">" + Resources.lang.Balance+ "</a></li>
        <li><a href="<%linkurl("userpoint","convert")%>">" + Resources.lang.scores+ "</a></li>
        <li><a href="<%linkurl("usermessage","system")%>">" + Resources.lang.SMS+ "</a></li>
        <li><a href="<%linkurl("usercenter","invite")%>">" + Resources.lang.Invitation+ "</a></li>
      </ul>
      <h3>" + Resources.lang.basic+ "</h3>
      <ul>
        <li><a href="<%linkurl("usercenter","proinfo")%>">" + Resources.lang.information+ "</a></li>
        <li><a href="<%linkurl("usercenter","password")%>">" + Resources.lang.changePSD+ "</a></li>
        <li><a href="<%linkurl("usercenter","exit")%>">" + Resources.lang.logout+ "</a></li>
      </ul>
    </div>